<%- include header %>
<h3 class="panel-title"><%=data[0].first_name%>, <%=data[0].last_name%></h3>
    <table class="table table-user-information">
      <tbody>
        <tr>
          <td>User Name:</td>
          <td><%=data[0].username%></td>
        </tr>
        <tr>
          <td>Auth:</td>
          <td><%=data[0].auth_level%></td>
        </tr>
      </tbody>
    </table>
 <%- include footer %>